.pbtn{
    width: 18rem;
}
.sleft :nth-child(3){
    font-size: 1.2rem;
}
.sleft :nth-child(4) button{
font-size: 1rem;
font-weight: 100;
color: white;
}
.projects{
   display: flex;
   justify-content: center;
   /* align-items: center; */
   flex-direction: column;
   padding-bottom: 3rem;
   margin-left: 2rem;
}
.sright{
    width: 80vw;
    margin: auto;
}
@media only screen and (max-width:700px) {
    .projects{
    height: 190vh;
    /* margin-left: -2rem; */

    padding-bottom: 13rem;

    }
    .srcard{
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;



    }
}