.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.ileft {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  margin-left: 3em;
}

.ileft :nth-child(1) {
  font-size: 3rem;
  color: var(--black);
  font-weight: bold;
  user-select: none;
}

.ileft :nth-child(2) {
  font-size: 3rem;
  font-weight: bold;
  color: var(--orange);
  user-select: none;
}
.projects
{
  margin-left: 2em;
}

.project-card {
  width: 300px;
  height: 12em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  margin: 5em auto 2em auto;

}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card img {
  width: 100%;
  height: 6.5em;
}
.project-card p {
  font-size: 1rem;
  color: #666;
  text-align: center;
}

.project-card a {
  padding: 10px 20px;
  background-color: var(--orange);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  margin-bottom: 4em;
}

.project-card a:hover {
background-color: var(--blue-hover);
}

@media screen and (max-width: 800px) {
  .ileft{
    margin-bottom:1em;
    
  }
  .ileft :nth-child(1) {
    font-size: 2rem;
  }
  
  .ileft :nth-child(2) {
    font-size: 2rem;
  }
  .ileft :nth-child(3){
    font-size: 1rem;
  }

}

@media screen and (max-width:500px) {
 
  .ileft {
    margin-left: 1em;
  }
  .projects
{
  margin-left: 0em;
}


}