#headLottie{
    width: 80px;
    position: absolute;
    left: 50%;
    top: 37%;
    cursor: pointer;
}

@media screen and (max-width: 1160px) {
    #headLottie{
        width: 300px;
    }
}
@media screen and (max-width: 1000px) {
    #headLottie{
        width: 260px;
    }
}
@media screen and (max-width: 759px) {
    #headLottie{
    display: none;
    }
}