.about {
    margin-top: 18rem;
    display: flex;
    gap: 1rem;
    margin-left: 3em;
    padding-top: 5%;
    flex-direction: column;
}

.about-container {
    display: flex;
}

.aright {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-right: 12vw;
    width: 50vw;
}

.know-more {
    font-size: 3rem;
    color: var(--black);
    font-weight: bold;
    user-select: none;
}

.about :nth-child(2) {
    font-size: 3rem;
    font-weight: bold;
    color: var(--orange);
    user-select: none;
}

.aleft {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:800px) {
    .about {
        margin-left: 3em;
    }

    .about-container {
        flex-direction: column-reverse;
    }

    .know-more {
        font-size: 2rem;
    }

    .about :nth-child(2) {
        font-size: 2rem;
    }

    .aright {
        font-size: 1em;
        margin-top: 1em;
        width: auto;
    }

    .aright :nth-child(1),
    :nth-child(2) {
        font-size: 1rem;
    }

    .aleft {
        margin-left: -2em;
    }
}

@media screen and (max-width:500px) {
    .about {
        margin-left: 1em;
    }

    .mbl_hide {
        display: none;
    }


}