.about{
    margin-top: 18rem;
    display: flex;
    gap: 1rem;
    margin-left: 3em;
    padding-top: 5%;
}
.aright{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-right: 12vw;
    width: 50vw;
}
.aright :nth-child(1) {
    font-size: 3rem;
    color: var(--black);
    font-weight: bold;
    user-select: none;
}

.aright :nth-child(2) {
    font-size: 3rem;
    font-weight: bold;
    color: var(--orange);
    user-select: none;
}

.aright :nth-child(3) {
    font-size: 1.2rem;
    color:black;
    font-weight: 100;
    margin: 1rem 0;
}
.aleft{
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width:800px) {
    .about{
        margin-left: 3em;
    }
    .aleft :nth-child(1){
        display: none;
    }
    .aright :nth-child(1) {
        font-size: 2rem;
    }
    
    .aright :nth-child(2) {
        font-size: 2rem;
    }
    
    .aright :nth-child(3) {
        font-size: 1rem;
    }
}

@media screen and (max-width:500px) {
    .about{
        margin-left: 1em;
    }
    .mbl_hide{
        display: none;
    }
    .aright{
        width: 100vw;
    }
}