.contact{
    display: flex;
    margin-left: 2rem;
}
.cleft{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
}
.cleft :nth-child(1) {
    font-size: 3rem;
    color: var(--black);
    font-weight: bold;
    margin-bottom: -0.5rem;
}

.cleft :nth-child(2) {
    font-size: 3rem;
    font-weight: bold;
    color: var(--orange);
}
.cleft :nth-child(3){
    font-size: 1.2rem;
}
.iicons {
    display: flex;
    gap: 0.8rem;
    margin-top: 2rem;
}

.iicons * {
    cursor: pointer;
}
@media only screen and (max-width:700px) {
  .contact{
    display: flex;
    flex-direction: column;
  }
    .cleft :nth-child(1) {
        font-size: 2rem;
    }
    
    .cleft :nth-child(2) {
        font-size: 2rem;
    }
    .cleft :nth-child(3){
        font-size: 1rem;
        margin-top: 0.5rem;
    }
    .iicons {
        gap: 0.6rem;
        margin-top: 0.7rem;
        margin-left: -1rem;
        
    }
}