.contact{
    display: flex;
    margin-left: 3em;
    min-height: 25vh;
}
.cleft{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
}
.cleft :nth-child(1) {
    font-size: 3rem;
    color: var(--black);
    font-weight: bold;
    margin-bottom: -0.5rem;
}

.cleft :nth-child(2) {
    font-size: 3rem;
    font-weight: bold;
    color: var(--orange);
}
.cleft :nth-child(3){
    font-size: 1.2rem;
}
.iicons {
    display: flex;
  justify-content: center;
  align-items: center;
        margin-top: 2em;
        gap: 0.5em;
        margin-right: 1em;
}

.iicons * {
    cursor: pointer;
}
@media only screen and (max-width:700px) {
  .contact{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
  }
    .cleft :nth-child(1) {
        font-size: 2rem;
    }
    
    .cleft :nth-child(2) {
        font-size: 2rem;
    }
    .cleft :nth-child(3){
        font-size: 1rem;
        margin-top: 0.5rem;
    }
}