.navbar {
    height: 3rem;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 1;
    user-select: none;
    padding-left: 5em;
    align-items: center;
}
.navbar .left{
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
}
.navbar .left .iconat{
    font-size: 0.5rem;
}
.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 6rem;
}

.right ul {
    display: flex;
    gap: 0.5rem;
    list-style-type: none;
}

.right ul li {
    margin-right: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    color: var(--black);
    cursor: pointer;
}
.right ul li.active{
    color: var(--orange);
}
.left :nth-child(1) {
    font-size: 1.3rem;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}

.hamburger-menu {
    display: none;
}

.mobile-navbar {
    display: none;
}

@media only screen and (max-width: 800px) {

    .hamburger-menu {
        cursor: pointer;display:flex;
     
    }
    .hamburger-menu-2{
        position: absolute;
        left: 3%;
        top: 5%;
        cursor: pointer;
    }

    .right ul {
        display: none;
    }

    .mobile-navbar {
        display: flex;
        position: fixed;
        width: 100vw;
        background-color: white;
        z-index: 1;
        transition: 0.5s;
        flex-direction: column;
    }

    .mobile-navbar ul {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .mobile-navbar ul li {
        font-size: 2rem;
        margin: 1rem 0;
        color: black;
    }

    .mobile-navbar ul li:hover {
        cursor: pointer;
        color:var(--orange);
    }
}