.navbar {
    height: 8%;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-image: linear-gradient(20deg, white, var(--orange));
    z-index: 1;
    user-select: none;
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2rem;
}

.left img {
    cursor: pointer;
}

.right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2rem;
}

.right ul {
    display: flex;
    gap: 0.5rem;
    list-style-type: none;
}

.right ul li {
    margin-right: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    color: dimgrey;
}

.right ul li:hover {
    cursor: pointer;
    color: black;
}

.left :nth-child(1) {
    font-size: 1.3rem;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}

.hamburger-menu {
    display: none;
}

.mobile-navbar {
    display: none;
}

@media only screen and (max-width: 800px) {

    .hamburger-menu {
        cursor: pointer;display:flex;
     
    }
    .hamburger-menu-2{
        position: absolute;
        left: 3%;
        top: 5%;
        cursor: pointer;
    }

    .right ul {
        display: none;
    }

    .mobile-navbar {
        display: flex;
        position: fixed;
        width: 100vw;
        background-color: white;
        z-index: 1;
        transition: 0.5s;
        flex-direction: column;
    }

    .mobile-navbar ul {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .mobile-navbar ul li {
        font-size: 2rem;
        margin: 1rem 0;
        color: black;
    }

    .mobile-navbar ul li:hover {
        cursor: pointer;
        color:var(--orange);
    }
}