#headLottie{
    width: 400px;
    position: absolute;
    top: -10%;
    left: 65%;
}

@media screen and (max-width: 1160px) {
    #headLottie{
        width: 300px;
    }
}
@media screen and (max-width: 600px) {
    #headLottie{
        width: 260px;
        left: calc(50% - 130px);
        top: calc(50% - 130px);
    }
}