.intro {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin-left: 5em;
}

.intro .ileft {
    display: flex;
    flex-direction: column;
}

.ileft .intro-bijay {
    font-size: 3rem;
    color: var(--black);
    font-weight: bold;
}

.ileft :nth-child(2) {
    font-size: 2rem;
    font-weight: bold;
    color: var(--black);
}

.ileft .moving-text {
    font-size: 2rem;
    color: var(--orange);
}

.intro .ileft :nth-child(3) {
    font-size: 1.2rem;
    width: 50vw;
    font-family: "Poppins", sans-serif;
}

.buttons {
    display: flex;
    gap: 2rem;
}

.buttons button {
    font-size: 1rem;
    font-weight: 100;
    width: 9em;
}

.buttons button:hover {
    background-color: var(--blue-hover);
    transition: all 0.3s ease-in-out;
}

@media only screen and (max-width:800px) {
    .intro {
        height: 5em;
    }

    .intro .ileft :nth-child(1) {
        font-size: 2rem;
    }

    .intro .ileft :nth-child(2) {
        font-size: 2rem;
    }

    .intro .ileft :nth-child(3) {
        font-size: 1rem;
    }

    .intro .ileft :nth-child(4) button {
        font-size: 1rem;
        color: white;
        font-weight: 100;
    }
}


@media only screen and (max-width: 500px) {
    .intro {
        height: 6em;
    }

    .intro .ileft {
        margin-left: 1em;
    }

    .intro .ileft :nth-child(3) {
        width: 80vw;
        margin-right: 1em;
    }
}