.intro {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin-left: 5em;
}

.intro .ileft {
    display: flex;
    flex-direction: column;
}

.ileft .intro-bijay {
    font-size: 3rem;
    color: var(--black);
    font-weight: bold;
}

.ileft :nth-child(2) {
    font-size: 2rem;
    font-weight: bold;
    color: var(--black);
}

.ileft .moving-text {
    font-size: 2rem;
    color: var(--orange);
}

.intro .ileft :nth-child(3) {
    font-size: 1.2rem;
    width: 50vw;
    font-family: "Poppins", sans-serif;
}

.iright {
    display: flex;
    width: 28rem;
    gap: 2rem;
    justify-content: center;
}

.iright a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    gap: 0.5rem;
    font-size: 1.2rem;
    background:linear-gradient(to left, var(--orange), rgb(0, 0, 128));
    padding: 0 0.5rem;
    border-radius: 1rem;
    width: 9em;
    justify-content: center;

}
.iright a:hover{
    background:linear-gradient(to left, var(--orange), rgb(0,0,101));
}

.iright a .icon-social {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 800px) {
    .intro {
        height: 5em;
    }

    .intro .ileft :nth-child(1) {
        font-size: 2rem;
    }

    .intro .ileft :nth-child(2) {
        font-size: 2rem;
    }

    .intro .ileft :nth-child(3) {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 500px) {
    .intro {
        height: 6em;
    }

    .intro .ileft {
        margin-left: 1em;
    }

    .intro .ileft :nth-child(3) {
        width: 80vw;
        margin-right: 1em;
    }
}