.intro {
    display: flex;
    margin-top: 2em;
    height: 25vh;
}

.intro .ileft {
    display: flex;
    flex: 0.7;
    flex-direction: column;
    margin-left: 3em;
    margin-top: 2em;
}

.intro .ileft :nth-child(1) {
    font-size: 3rem;
    color: var(--black);
    font-weight: bold;
    user-select: none;
}

.intro .ileft :nth-child(2) {
    font-size: 3rem;
    font-weight: bold;
    color: var(--orange);
    user-select: none;
}

.intro .ileft :nth-child(3) {
    font-size: 1.2rem;
    color:black;
    font-weight: 100;
    margin: 1rem 0;
    width: 50vw;
}

.intro .ileft :nth-child(4) button, .ileft :nth-child(5) button {
    font-size: 1rem;
    color: white;
    font-weight: 100;
    width: 9em;
    
}


.ileft :nth-child(4) button:hover, .ileft :nth-child(5) button:hover{
  background-color: var(--blue-hover);

}
.iright {
    flex: 1;
    position: relative;

}
.ileft .buttons{
    display: flex;
    gap: 1em;
}


.iright * {
    position: absolute;

}

@media only screen and (max-width:800px) {
.intro{
    height: 5em;
}

   .intro .ileft :nth-child(1) {
        font-size: 2rem;
    }

   .intro .ileft :nth-child(2) {
        font-size: 2rem;
    }

  .intro  .ileft :nth-child(3) {
        font-size: 1rem;
    }

  .intro  .ileft :nth-child(4) button {
        font-size: 1rem;
        color: white;
        font-weight: 100;
    }
}


@media only screen and (max-width: 500px) {
    .intro{
        height: 6em;
    }
    .intro .ileft{
        margin-left: 1em;
    }
    .intro .ileft :nth-child(3) {
        width: 80vw;
        margin-right: 1em;
    }
    }