.footer {
    padding: 1em 0;
    color:var(--footer-text);
    user-select: none;
    /* background: linear-gradient(180deg, var(--orange) 0%, rgba(33, 150, 243, 0.644) 100%); */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;

}

.fleft1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fleft1 ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    gap: 0.2em;
}

.fleft1 ul li a {
    letter-spacing: 0.05rem;
    color:var(--footer-text);
    text-decoration: none;
}

.fleft3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    
}

.fleft3 ul {
    list-style: none;
    text-align: center;
    letter-spacing: 0.09rem;
    line-height: 1.3em;
}
.fleft3 ul  :hover, .fleft1 ul :hover{
    color: rgb(165, 165, 165);
    color: var(--footer-text-hover);
}
.fright2 {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.1em;
    gap: 0.4em;
}
.fright2 a{
    color:var(--footer-text);
}

.fright2 :hover{
    color: var(--footer-text-hover);

}

.footer__text {
    font-size: 0.5em;
    margin-top: 1em;
    text-align: center;

}

@media screen and (max-width: 683px) {
   .footer-container{
    flex-direction: column;
   }
   .fleft1, .fleft3{
    margin-left: -1.5em;
   }
   .fleft3{
    font-size: 0.8em;
   }
   .fleft1{
font-size: 0.8em;
   }
}